---
apiVersion: v1
kind: Service
metadata:
  name: kibana-svc
  namespace: {{ kibana_namespace }}
  labels:
    app: kibana-app
spec:
  selector:
    app: kibana-app
  type: ClusterIP
  ports:
    - protocol: TCP
      port: 5601
      targetPort: 5601
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kibana-dp
  namespace: {{ kibana_namespace }}
  labels:
    app: kibana-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kibana-app
  template:
    metadata:
      annotations:
        triggerHash: "{{ trigger_sha_sum['stat']['checksum'] }}"
      namespace: {{ kibana_namespace }}
      labels:
        app: kibana-app
    spec:
      tolerations:
{% if kibana_tolerate_master | default(false) %}
        - key: node-role.kubernetes.io/master
          operator: Exists
          effect: NoSchedule
{% endif %}
      volumes:
        - name: kibana-cert
          secret:
            secretName: kibana-cert
      containers:
        - name: kibana
          image: docker.elastic.co/kibana/kibana:7.9.0
          env:
            - name: ELASTICSEARCH_HOSTS
              value: "[\"https://elastic-svc:9200\"]"
            - name: XPACK_SECURITY_ENABLED
              value: "true"
            - name: ELASTICSEARCH_SSL_CERTIFICATEAUTHORITIES
              value: "[\"/usr/share/kibana/config/certs/ca.crt\"]"
            - name: ELASTICSEARCH_SSL_VERIFICATIONMODE
              value: certificate
            - name: ELASTICSEARCH_USERNAME
              valueFrom:
                secretKeyRef:
                  name: kibana-elastic-cred
                  key: user
            - name: ELASTICSEARCH_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: kibana-elastic-cred
                  key: pass
            - name: SERVER_SSL_ENABLED
              value: "true"
            - name: SERVER_SSL_CERTIFICATE
              value: /usr/share/kibana/config/certs/kibana.crt
            - name: SERVER_SSL_KEY
              value: /usr/share/kibana/config/certs/kibana.key
            - name: XPACK_ENCRYPTEDSAVEDOBJECTS_ENCRYPTIONKEY
              valueFrom:
                secretKeyRef:
                  name: kibana-object-key
                  key: key
          volumeMounts:
            - name: kibana-cert
              mountPath: /usr/share/kibana/config/certs
              readOnly: true
          ports:
            - containerPort: 5601
